footer {
  background-color: #acdde1;
}

#mainNav {
  position: absolute;
  border-bottom: 1px solid #acdde1;
  background-color: #acdde1;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
}

@media only screen and (min-width: 992px) {
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: #343a40;
  }
}

@media only screen and (min-width: 992px) {
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: #343a40;
  }
}

@media only screen and (min-width: 992px) {
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #343a40;
  }
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: .5;
}

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #6c757d;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media (min-width: 1400px) {
  header.masthead .page-heading h1, header.masthead .page-heading .h1, header.masthead .site-heading h1, header.masthead .site-heading .h1 {
    font-size: 100px;
  }
}

.plan {
  font-size: calc(1.375rem + 1vw);
}

p {
  font-size: 2vw;
}

@media (min-width: 300px) {
  p {
    font-size: 20px;
  }
}

a {
}

small, .small {
  font-size: 1.5vw;
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 300px) {
  small {
    font-size: 20px;
  }
}

small {
  text-align: center;
}

#pic1 {
  background-image: url("../../assets/img/IMG_1595.png");
  background-size: contain;
  background-repeat: no-repeat;
  /*height: 100p;*/
}

#pic2 {
  background-image: url("../../assets/img/Screen%20Shot%202022-04-24%20at%2000.08.52.png");
  background-size: contain;
  background-repeat: no-repeat;
  /*height: 60vw;*/
}

@media (min-width: 300px) {
  #pic2 {
    height: 500px;
  }
}

@media (min-width: 300px) {
  #pic1 {
    height: 500px;
  }
}

@media (min-width: 992px) {
  #pic2 {
    height: 75vw;
  }
}

@media (min-width: 992px) {
  #pic1 {
    height: 75vw;
  }
}

@media (min-width: 1400px) {
  #pic2 {
    height: 1000px;
  }
}

@media (min-width: 1400px) {
  #pic1 {
    height: 1000px;
  }
}

iframe {
}

iframe {
}

#bigtext {
  font-size: calc(1.375rem + 3vw);
}

